<!DOCTYPE html>
<html>
  <head>
    <title>Cabinet</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="title-year">  <%= year %> <%= monthStr %></div>
    <%- table %> 
    
  </body>
</html>
